body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #d3d0d0;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  background-color: rgb(215, 223, 248);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inputText {
  width: 95%;
  height: 100px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.outputText {
  display: flex;
  width: 95%;
  height: 100px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}


button:hover {
  background-color: #0056b3;
}

/* Media queries para hacer la página responsiva */
@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 15px;
  }

  textarea {
    height: 80px;
  }

  button {
      width: 100%;
      padding: 12px;
      margin-bottom: 10px;

  }
}

@media (max-width: 480px) {
  body {
    margin: 10px;
  }

  .container {
    width: 97%;
    padding: 10px;
  }

  textarea {
    height: 60px;
  }

  button {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
  }
}